<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumberOfTables4Seater" value="10"/>
    <add key="NumberOfTables6seater" value="4"/>
    <add key="IsAutomatedTableStatusProcessing" value="False"/>
    <add key="ApiBaseAddress" value="https://localhost:7037"/>
  </appSettings>
</configuration>